.checkout {
    width: 100%;
}

.checkout .checkout-container {
    background: white;
    min-width: 900px;
    display: flex;
    margin: 150px 80px 0px 80px;
}

.checkout .checkout-container .left-col {
    width: 30%;
    min-height: 160vh;
    background: #34495e;
}

.checkout .checkout-container .left-col .left-col-cont {
    margin: 20px 25px;
    color: white;
    font-size: 18px;
}

.checkout .checkout-container .left-col .left-col-cont h2 {
    margin: 25px 0 0 0;
}

.checkout .checkout-container .left-col .left-col-cont .item {
    margin: 30px 0;
    clear: both;
    display: flex;
    align-items: center;
}

.checkout .checkout-container .left-col .left-col-cont .item .img-col {
    width: 30%;
}

.checkout .checkout-container .left-col .left-col-cont .item .img-col img {
    width: 70px;
    height: 70px;
}

.checkout .checkout-container .left-col .left-col-cont .item .meta-col {
    width: 70%;
}

.checkout .checkout-container .left-col .left-col-cont .item .meta-col h3 {
    font-size: 0.7em;
    margin: 10px 0 0 5px;
}

.checkout .checkout-container .left-col .left-col-cont .item .meta-col p {
    font-size: 0.9em;
    margin: 5px 0 0 5px;
    opacity: 0.5;
}

.checkout .checkout-container .left-col .left-col-cont .total {
    text-transform: uppercase;
    text-align: left;
    font-size: 0.7em;
    opacity: 0.5;
    margin: 115px 0 5px 0;
}

.checkout .checkout-container .left-col .left-col-cont .total-price {
    text-align: left;
    font-size: 2em;
    margin: 0;
    margin-bottom: 50px;
}

.checkout .checkout-container .left-col .left-col-cont .total-price span {
    color: #1c2834;
}

.checkout .checkout-container .right-col {
    width: 60%;
    min-height: 160vh;
    margin: 20px 25px;
    color: black;
    font-size: 20px;
}

.checkout .checkout-container .right-col form {
    margin: 60px auto 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.checkout .checkout-container .right-col form #cardnumber {
    background: white;
    width: 100%;
    padding: 4px 6px;
    border-radius: 3px;
    border: 1px solid lightgrey;
}

.checkout .checkout-container .right-col form #cardnumber input {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    width: 100%;
    border: none;
    background: none;
    font-size: 20px;
}

.checkout .checkout-container .right-col form #cardnumber {
    background: white;
    width: 100%;
    padding: 4px 6px;
    border-radius: 3px;
    border: 1px solid lightgrey;
}

.checkout .checkout-container form label {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 14px 0 4px;
}

.checkout .checkout-container .right-col form select {
    background: white;
    width: 100%;
    padding: 4px 6px;
    border-radius: 3px;
    border: 1px solid lightgrey;
    font-size: 20px;
    color: black !important;
}

.checkout .checkout-container .right-col form #cardnumber {
    background: white;
    width: 100%;
    padding: 4px 6px;
    border-radius: 3px;
    border: 1px solid lightgrey;
}

.checkout .checkout-container .right-col form #cardnumber input {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    width: 100%;
    border: none;
    background: none;
    font-size: 20px;

}

.shipping .radio {
    display: flex;
    align-items: baseline;
}

.checkout .checkout-container form button {
    display: block;
    width: 100%;
    border: none;
    border-radius: 2px;
    padding: 8px 0;
    font-size: 0.8em;

}

.checkout .checkout-container form button#purchase {
    background: #e67e22;
    color: white;
    margin: 0 0 8px;
    font-size: 0.9em;
    cursor: pointer;
    margin-top: 40px;
}

#purchase {
    display: block;
    width: 100%;
    border: none;
    border-radius: 2px;
    padding: 8px 0;
    background: #e67e22;
    color: white;
    margin: 0 0 8px;
    font-size: 0.9em;
    cursor: pointer;
    margin-top: 40px;
}

.right-col .payment-method .paymentdto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0px;
    gap: 10px;

}

.right-col .payment-method .paymentdto .radio {
    background: #f2f4f7;
    border: 2px solid #e8ebed;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s ease;
    font-size: 16px;
}

.right-col .payment-method .paymentdto .radio:hover {
    background-color: #34495e;
}

.right-col .payment-method .paymentdto .radio .link {
    color: black;
    cursor: pointer;

}

.right-col .payment-method .paymentdto .selected {
    border-color: #40b3ff;
    background: rgba(64, 179, 255, 0.1);
}

.momo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.momo img {
    width: 40%;
}

.cartItem .thongtinbank {
    display: flex;
    flex-direction: column;
}