@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

    .checkout .checkout-container {
        min-width: 800px !important;
        margin: 150px auto 0px auto !important;
    }

}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        background: #fff;
        width: 25rem;
        height: auto;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 3rem;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }

    .header>.navbar>a {
        display: block;
    }

    .cart {
        width: 100%;
    }

    .info_data,
    .projects_data {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .checkout {
        width: 100% !important;
        margin: 0px 0px !important;
    }

    .checkout .checkout-container {
        display: flex;
        flex-direction: column;
        width: 100% !important;
        align-items: center;
        min-width: unset !important;
        margin: 0px 0px !important;
        margin-top: 150px !important;
    }

    .checkout .checkout-container .left-col {
        width: 100% !important;
        min-height: auto !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .checkout .checkout-container .left-col .left-col-cont {
        width: 90% !important;
        margin: 0px 0px 0px 20px !important;
        font-size: 16px;
    }


    .checkout .checkout-container .left-col .left-col-cont .item {
        width: 100%;
    }

    .checkout .checkout-container .left-col .left-col-cont .item .meta-col {
        width: 100%;
        margin-left: 10px;
    }

    .checkout .checkout-container .right-col {
        width: 90% !important;
        margin: 0px 0px !important;
        float: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px !important;
        margin: 100px 0px !important;
        min-height: auto !important;
    }

    .checkout .checkout-container .right-col form {
        margin: 0px 0px;
        width: auto !important;
        display: flex;
        flex-direction: column;
    }

    .paycreditcard {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .cart {
        width: 100%;
    }

    .delete button {
        display: none;
    }


}